@font-face {
    font-family: '9756';
    src: url('../fonts/9756.TTF');
}
@font-face {
    font-family: 'LOBSTER';
    src: url('../fonts/LOBSTER.TTF');
}
@font-face {
    font-family: 'AKROBAT';
    src: url('../fonts/AKROBAT-EXTRABOLD.OTF'),
    url('../fonts/AKROBAT-EXTRALIGHT.OTF'),
    url('../fonts/AKROBAT-REGULAR.OTF'),
    url('../fonts/AKROBAT-SEMIBOLD.OTF'),
    url('../fonts/AKROBAT-THIN.OTF');
}

body {
    font-family: 'AKROBAT';
    color: #4f341b;
    font-size: 18px;
    line-height: 1.62;
}
a {
    color: #964310;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    color: #964310;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #622916;
}
a, button {
    transition: all .3s linear;
}
a:hover {
    color: #622916;
    text-decoration: none;
}
.header-block {
    background-color: #fdf9ea;
}
.navbar-header-auto {
    background-color: transparent;
    border: none;

    margin-bottom: 0;
    padding: 15px 0;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-contact-phone a {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
}
.header-row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-contact-block a {
    color: #b34d3e;
    font-size: 32px;
    margin-left: 15px;
}
.header-contact-block a:hover {
    color: #622916;
}
.header-contact-block a i {
    color: #28220a;
    font-size: 38px;
}
.header-contact-block a i:hover {
    color: #622916;
}
.sliders-block {
    display: flex;
}
.owl-carousel, .static-banner {
    width: 50%;
    height: 100%;
}
.static-banner img {
    width: 100%;
}
.owl-prev {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.owl-next {
    position: absolute;
    bottom: 30px;
    left: 80px;
}
.chevron-background {
    background-color: rgba(70%, 30%, 24%, 0.7);
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fdf9ea;
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #333;
    transform: scale(1.5);
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.navbar-collapse {
    padding: 0;
}
.header-logo img {
    width: 280px;
}
.main-title {
    font-family: 'LOBSTER';
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.cakes-block-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cakes-item {
    width: 24%;
    margin-bottom: 30px;
}
.cakes-item img {
    width: 100%;
}
.cakes-description {
    text-align: center;
    font-family: 'LOBSTER';
    position: relative;
    bottom: 30px;
    font-size: 20px;
}
.order-description-text {
    text-align: center;
}
.order-button {
    text-align: center;
    margin: 20px 0;
}
.order-button-click {
    border: none;
    padding: 20px 40px;
    border-radius: 4px;
    color: #fdf9ea;
    background-color: #b34d3e;
    border: 2px solid #b34d3e;
}
.order-button-click:hover {
    background-color: #fdf9ea;
    color: #b34d3e;
}
.order-button-click-header {
    font-size: 14px;
    padding: 4px 8px;
    margin-left: 15px;
}
.fillings-description-title {
    font-family: 'LOBSTER';
    font-size: 30px;
}
.fillings-subdescription-title {
    font-size: 22px;
    margin-bottom: 10px;
}
.fillings-composition {
    font-size: 14px;
}
.fillings-image img {
    width: 100%;
}
.fillings-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 48%;
}
.fillings-image {
    width: 28%;
}
.fillings-description {
    width: 68%;
}
.fillings-desc-text {
    font-size: 16px;
}
.delivery-text {
    font-size: 20px;
    text-align: center;
}
.footer-page-block {
    padding: 40px 0;
    background-color: #fdf9ea;
    margin-top: 40px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.footer-links a {
    display: block;
    text-decoration: none;
}
.footer-links:last-child {
    text-align: right;
}
.footer-copyright {
    text-align: center;
}
.footer-logo img {
    width: 280px;
}
.footer-links button {
    border: none;
    background-color: transparent;
    color: #964310;
    padding: 0;
}
.footer-links button:hover {
    color: #622916;
}
.footer-links button:focus {
    outline: none;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 56px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.owl-feedback-form {
    text-align: center;
    border: 2px solid #964310;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form a {
    background-color: #964310;
    padding: 10px;
    color: #fdf9ea;
    border: 2px solid #964310;
    border-radius: 4px;
}
.owl-feedback-form a:hover {
    background-color: #fdf9ea;
    color: #964310;
}
.btn-primary:active:hover, .btn-primary.active:hover {
    background-color: #622916;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #622916;
    border-color: #622916;
}
.btn-primary {
    color: #fff;
    background-color: #964310;
    border-color: #964310;
}
.btn-primary.active:focus, .btn-primary:focus, .btn-primary:active:focus {
    outline: none;
    background-color: #622916;
    border-color: #622916;
}
.btn-primary.active.focus {
    background-color: #622916;
    border-color: #622916;
    outline: none;
}
.modal-survey-quest {
    margin-bottom: 15px;
}
button.close {
    position: relative;
    z-index: 1;
    right: 4px;
}
.modal-survey-row {
    margin-bottom: 20px;
}
.textarea-modal-desk {
    resize: none;
    margin: 15px 0;
    font-family: '9756';
    line-height: 1.6;
    font-size: 13px;
}
.modal-survey-text {
    margin-bottom: 30px;
}
.order-button-click:focus {
    outline: none;
}
.footer-copyright p {
    font-size: 13px;
}
.order-input-mail {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.fillings-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-contact-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .cakes-item {
        width: 32%;
    }
    .footer-logo img {
        width: 222px;
    }
    .btn-primary {
        border-radius: 4px !important;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .fillings-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .fillings-description {
        width: 100%;
    }
    .fillings-image {
        width: 60%;
    }
    .header-contact-block a {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .navbar-header-auto {
        display: block;
    }
    .navbar-toggle {
        margin: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #964310;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #fdf9ea;
    }
    .header-row-flex {
        flex-wrap: wrap;
    }
    .header-contact-block a {
        font-size: 18px;
        margin-right: 15px;
        margin-left: 0;
    }
    .header-contact-block a i {
        font-size: 24px;
    }
    .navbar-nav {
        margin: 0;
        flex-wrap: wrap;
    }
    .nav > li {
        width: 50%;
    }
    .footer-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-flex {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .cakes-item {
        width: 100%;
    }
    .fillings-item {
        flex-direction: column;
    }
    .fillings-image, .fillings-description {
        width: 100%;
    }
    .button-email {
        margin-bottom: 10px;
    }
    .fillings-item {
        width: 100%;
    }
    .order-button-click-header {
        margin-left: 0;
    }
}